*{
    font-family: 'East Sea Dokdo', cursive;
}
.main_logo{
    display: inline-block;
    font-size: 30px;
    padding: 0px 600px 0px 20px;
    height: 40px;
}
ul{
  list-style-type: none;
  color: white;
  background-color: #C12231;
}
li{
  display: inline;
  font-size: 20px;
  padding: 0px 100px;
}
.menu_image{
    border: 1px solid black;
    display: block;
}
div figure{
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 250px;
}
div figure figcaption{
    font-size: 20px;
    text-align: center;
}
div figure span img{
    width: 200px;
    height: 200px;
}